<!DOCTYPE html>  
<html> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="#">Update 24x7 News</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="http://localhost:9001/sports">Sports</a></li>
          <li><a href="http://localhost:9001/aboutus">About</a></li>
          <li><a href="http://localhost:9001/contactus">Contact</a></li>
          <div class = "weather"><li style="text-align: center;"><p id="demo"></p></li></div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://localhost:9002/index.html">Chat</a></li>
          <li><a href="http://localhost:9001/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
<head>  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
  <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>


    <meta charset="utf-8" />  
    <title>Update 24x7</title>  
    <style type="text/css">   
        .showSlide {  
            display: none;
                  }  
            .showSlide img {  
                width: 100%; 
                max-height: 200px;
                max-width: 400px;
            }  
        .slidercontainer {  
          width: 100%; 
            max-width: 400px; 
            max-height: 200px; 
            position: relative;
            margin: auto;  
        }  
        .left, .right {  
            cursor: pointer;  
            position: absolute;  
            top: 50%;  
            width: auto;  
            padding: 16px;  
            margin-top: -22px;  
            color: white;  
            font-weight: bold;  
            font-size: 18px;  
            transition: 0.6s ease;  
            border-radius: 0 3px 3px 0;  
        }  
        .right {  
            right: 0;  
            border-radius: 3px 0 0 3px;  
        }  
            .left:hover, .right:hover {  
                background-color: rgba(115, 115, 115, 0.8);  
            }  
        .content {  
            color: #eff5d4;  
            font-size: 30px;  
            padding: 80px 12px;  
            position: absolute;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        } 
        .description {  
            color: black;  
            font-size: 14px;  
            padding: 8px 12px;  
            top: 10px;  
            width: 100%;  
            text-align: center;  
        }   
        .active {  
            background-color: #717171;  
        }  
        .weather {  
            color: white;  
        }  

        .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    .bottom{
      position: relative;
      bottom: 0px;
      width: 100%;
      border: 3px solid #73AD21;
      padding: 10px;
    }

        /* Add a gray background color and some padding to the footer */
        footer {
      background-color: #f2f2f2;
      padding: 25px;
      position:relative;
       bottom:0;
       width: 100%;
    }

    </style>  

<body onload="getLocation()"></body>

</head>  
<body>  

    <script>
        var x = document.getElementById("demo");
        
        function getLocation() {
          if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
          } else { 
            x.innerHTML = "Geolocation is not supported by this browser.";
          }
        }
        
        function showPosition(position) {
          x.innerHTML = "Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;
          sendtourl = "/weather/"+position.coords.latitude+"/"+position.coords.longitude
          fetch(sendtourl).then((res)=>{
              return res.json()
          }).then((data)=>{
            document.getElementById("demo").innerText= "The temperature in " + data.name + " is " + data.main.temp + "° F"
          })
        }
    
    
        </script>


    <article class="slidercontainer", style="display: inline-block;">  
        <% posts.forEach(function(post){ %>
        <div class="showSlide"> 
            <a href=<%=post.url %>> 
                <img src=<%=post.urltoimage %> </a>
            <div class="content"><%=post.title %> </div> <br>
            <div class="description"><%=post.description %> </div> 
        </div>  
        <%});%>

        <!-- Navigation arrows -->  
        <a class="left" onclick="nextSlide(-1)">❮</a>  
        <a class="right" onclick="nextSlide(1)">❯</a>  
        
        
    </article>  

    <div class="w3-panel w3-border w3-border-red", class="bottom">

      <h3 style="text-align: center;"><b>Latest News</b></h3>
        
        <% posts.forEach(function(post){ %>
        <ul style="list-style-type:none; float: left;">
                <li><b>Title: <%= post.title %></b></li>
                <li>Published On: <%= post.createdOn %></li>
                <li>  <%= post.description %></li>
        </ul>
                <%});%>      
    </div>

    
  
    <script type="text/javascript">  
        var slide_index = 1;  
        displaySlides(slide_index);  
  
        function nextSlide(n) {  
            displaySlides(slide_index += n);  
        }  
  
        function currentSlide(n) {  
            displaySlides(slide_index = n);  
        }  
  
        function displaySlides(n) {  
            var i;
            var slidesToShow = 3;
            var slides = document.getElementsByClassName("showSlide");  
            if (n > slidesToShow) { slide_index = 1 }  
            if (n < 1) { slide_index = slidesToShow }  
            for (i = 0; i < slidesToShow; i++) {  
                slides[i].style.display = "none";  
            }  
            slides[slide_index - 1].style.display = "block";  
        }  
    </script>  
  

  <footer class="container-fluid text-center">
    <a href="http://localhost:9001/aboutus">Developed by team HISSS</a>
  </footer>
 

</body>  
</html>